.navbar{
    justify-content: center;

}

.navbar-brand{
    color: rgb(233, 233, 27);
}


.accordion-collapse{
    align-items: center;
    justify-content: center;
}

.page-footer{
    padding: 20px;
    background-color: rgb(51, 134, 228);
    color: yellow;
}